@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");
body {
    font-family: "Oswald", sans-serif;
    background-color: #212121;
}

h2 {
    position: relative;
    font-weight: 600;
    color: white;
    font-size: 2.5em;
    width: 100%;
    background-color: #121213;
    padding: 20px 20px 20px 50px;
    margin:0;
}

h2:before {
    content: "";
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

header {
    padding: 2vw;
}

header img {
    width: max(140px,15vw);
    height: auto;
    border-radius: 50%;
}

header h1 {
    margin-block: 0;
    font-size: max(1rem, 2vw);
}

header p {
    margin-block: 0;
    font-size: max(1rem, 1vw);
}

header div {
    background-color: black;
    border-top-right-radius: calc(calc(max(140px,15vw) / 2) + 2rem);
    border-bottom-right-radius: calc(calc(max(140px,15vw) / 2) + 2rem);
    width: calc(2vw + max(140px,15vw) + 1rem);
    height: calc(max(140px,15vw) + 2rem);
    margin-block: calc(2vw - 1rem);
    z-index: -1;
}

aside ul {
    padding: 0;
}

aside li {
    list-style-type: none;
    text-align: center;
    height: 4rem;
    display: flex;
}

aside li img {
    border: black 0.5rem solid;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: auto;
    background-color: white;
}

aside li p {
    background-color: black;
    color: white;
    flex: 1 1 0;
    margin: 0;
    align-self: center;
    justify-content: center;
    padding: 0.5rem;
    margin-left: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

main {
    padding-inline: 2rem;
}

section {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0;
    perspective: 1200px;
    background-image: url(../multimedia/images/background-1.jpg);
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section:before {
    content: "";
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all 2.3s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

section:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 1.3s;
    background: rgba(0, 0, 0, 0.4);
}

section:hover {
    transform: rotateX(0deg) rotateY(-180deg);
}

section:hover:before {
    transform: translateZ(30px);
}

section:hover:after {
    background-color: black;
}

section h3 {
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    z-index: 3;
    font-size: 2.5em;
    transform: translateZ(0px);
}

section:hover h3 {
    transform: translateZ(100px);
}

section div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    transform: translateZ(-1px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

section div p {
    transform-style: preserve-3d;
    transition: ease transform 2.3s, ease background 0.5s;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    padding: 14px 32px;
    outline: none;
    text-decoration: none;
}

section div p:hover {
    background-color: white;
    color: #0b0f08;
}