@keyframes fade-out-in {
    0% {opacity: 0;}
    40% {opacity: 0;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fade-in-out {
    0% {opacity: 1;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}


article:nth-of-type(3) section div {
    animation: fade-out-in 5s infinite alternate;
}

article:nth-of-type(3) section h3 {
    animation: fade-in-out 5s infinite alternate;
}